<form action="{% url 'persona:borrar_persona' persona.pk %}" id="form" method="post" class="col s12 js-book-borrar-form" autocomplete="off">
    {% csrf_token %}
    <style>
        select{
            display: block;
        }
    </style>
    <div class="row">
        <div class="col s6 offset-s3" style="margin-top:5%;">
            <h5>Eliminar Miembro</h5>
            <i class="mdi-action-info-outline large" style="color: red !important;font-size: 190px;"></i>
            <h5 class="center">¿Esta Seguro de Eliminar a {{persona.nombre}}?</h5>
        </div>
    </div>
    
    <div id="error" class="left"></div>
    <div class="row">
        <div class="col s6 offset-s3 m2 offset-m5">
            <p><a class="btn waves-effect waves-light blue left" onclick="cerrar_modal()">No</a> </p>
            <p><button class="btn waves-effect waves-light red right">Si</button></p>

        </div>
    </div>

    
</form>


