{% extends "panel_admin/base.html" %}
{% load static %}
{% block content %}
        <script src="{% static 'admin/js/vendor/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'datatables/jquery.dataTables.min.js'%}"></script>
        <script src="{% static 'datatables/dataTables.buttons.min.js'%}"></script>
        <script src="{% static 'datatables/buttons.flash.min.js'%}"></script>
        <script src="{% static 'datatables/buttons.print.min.js'%}"></script>
        <script src="{% static 'datatables/pdfmake.min.js'%}"></script>
        <script src="{% static 'datatables/vfs_fonts.js'%}"></script>
        <script src="{% static 'datatables/buttons.html5.min.js'%}"></script>
        <script src="{% static 'datatables/dataTables.bootstrap4.min.js'%}"></script>

        <script type="text/javascript" src="{% static 'select2/select2.min.js'%}"></script>

        <script>
             jQuery(document).ready(function($jquery) {
                 var table= $jquery('#postsTable').DataTable({
                    "language": {
                        "url": "{% static 'datatables/spanish.json'%}"
                        },
                        responsive: true,
                        ordering: true,
                        responsive: true,

                     "iDisplayLength": 10,
                     "ajax": {
                         "processing": true,
                         "url": "{% url 'diezmo:IngresosJson' %}",
                         "dataSrc": ""
                     },
                     columnDefs: [ {
                        sortable: false,
                        "class": "index",
                        targets: 0
                    } ],
                    order: [[ 1, 'desc' ]],
                    fixedColumns: true,
    
 
                     "columns": [
                            {"data":"fields.fecha"},
                             { "data": "fields.fecha" },
                             { "data": "fields.monto" },
                             { "data": "fields.cedula"},
                             { "data": "fields.persona" },
                             { "data": "fields.tipo_de_pago" },
                             {"data": null,
                                render: function ( data, type, row ) {
                                    return '<button onclick="actualizar('+data.pk+')" class="btn btn-primary js-update center"><i class="mdi-editor-border-color"></i></button>' ;
                                }
                                }
                         ],
                         dom: 'frti<"right"p>', 
                         //'<"top"f>rt<"right"p><"button"ir>',
                         buttons: [
                         { "extend": 'pdf', "text":'<i class="mdi-editor-insert-drive-file"</i>',"className": 'btn btn-default btn-xs right' }
                        ]
                        },
                    );

                    table.on( 'order.dt search.dt', function () {
                    table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                        cell.innerHTML = i+1;
                    } );
                } ).draw();
                    setInterval(function(){ 
                        table.ajax.reload( null, false );
                        }, 3000);
                    
                    
             });
         </script>
<section id="content">
<div class="container">
  <div class="section">
      <div class="row">
          <div class="col s10 m10 l10 offset-m1 offset-l1 offset-s1">
                <div class="capital left"></div>
                <a class="btn btn-primary modal-full-screen right">Añadir Diezmo</a>

          </div>
        <h3 class="center">Listado de Ingresos</h3>

      </div>
      <div class="row mb-2">
      <div class="col s10 m10 l10 offset-m1 offset-l1 offset-s1">

        <table id="postsTable" class="table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Cedula</th>
                        <th>Persona</th>
                        <th>Tipo de Pago</th>
                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    <td></td>
                </tbody>
           </table>
        </div>

    </div>
</div>
</div>
    <!--MODAL SESION EXPIRED -->
    <div id="modal1" class="modal-full">
      <div class="modal-content center">
        
    </div>
<script>
    var url_crear = "{% url 'diezmo:crear_ingreso' %}";
</script>
<script src="{% static 'ajax/ajax_ingresos.js' %}" type="text/javascript"></script>
<script>
function mes(){
  var d = new Date();
  var month = new Array();
  month[0] = "Enero";
  month[1] = "Febrero";
  month[2] = "Marzo";
  month[3] = "Abril";
  month[4] = "Mayo";
  month[5] = "Junio";
  month[6] = "Julio";
  month[7] = "Augosto";
  month[8] = "Septimbre";
  month[9] = "Octubre";
  month[10] = "Noviembre";
  month[11] = "Diciembre";
  return month[d.getMonth()];
}
function capital(){
    $.ajax({
        url: "{% url 'diezmo:capital'%}",
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
        },
        success: function (data) {
            if (data['total']== 0){
                var color = 'color:red';
            }else{
                var color = 'color:green';
            }
            if(data['ofrenda'] == 0){
                var color1 = 'color:red';
            }else{
                var color1 = 'color:green';
            }
            if(data['diezmo'] == 0){
                var color2 = 'color:red';
            }else{
                var color2 = 'color:green';
            }
            var capital = "<strong><p style='font-size:15px; color:green;'>Mes: "+mes()+"</strong></p><p style='font-size:15px;"+color1+"'>Ofrenda del mes de: <strong>"+data['ofrenda']+"</strong> Bs.</p><p style='font-size:15px;"+color2+"'>Diezmo del mes: <strong>"+data['diezmo']+"</strong> Bs.</p><p style='font-size:15px;"+color+"'>Disponible: <strong>"+data['total']+"</strong> Bs.</p>"
            $('.capital').html(capital);
        }
        });
}
capital();
setInterval(function(){ 
    capital();
    }, 3000);

$("#id_persona").select2();
</script>

{% endblock %}
