<form  action="{% url 'diezmo:put_ingreso' form.instance.pk %}" id="form" method="post" class="col s12 js-book-update-form" autocomplete="off">
    {% csrf_token %}
    <style>
        select{
            display: block;
        }
    </style>
    <div class="row">
        <div class="col s12">
            <h2>Actualización Diezmo</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="mdi-action-account-circle prefix"></i>
                    {{form.fecha}}
                    <label for="id_fecha" class="active">Fecha</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input  type="text" class="validate" name="monto" id="id_monto" required="" value="{{form.monto.value}}">
                    <label for="id_monto">Monto</label>
                </div>
            </div>
            <div class="row tipopago">
                <div class="input-field col s12 m12 tipo">
                        {{form.tipo_de_pago}}
                        <label for="id_tipo_de_pago" class="active">Tipo de Pago</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12">
                    {{form.persona}}
                    <label for="id_persona" class="active">Miembro</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="error" class="col s10 offset-s1 center"></div>
        </div>
        <div class="row">
            <div class="col m6 offset-m5 s10 offset-s1">
                <p><a class="btn waves-effect waves-light red cerrar-modal" onclick="cerrar_modal()">Cancelar</a>
                <button class="btn waves-effect waves-light blue" >Actualizar</button></p>
            </div>
        </div>
    </div>

    
</form>
<script>

$("#id_persona").select2();
$('.select2-container--default .select2-selection--single').css("background-color", "transparent");
$('.select2-container--default .select2-selection--single').css("width", "100%");
$('.select2-container--default .select2-selection--single').css("padding", "5px");
$('.select2-container--default .select2-selection--single').css("border", "none");
$('.select2-container--default .select2-selection--single').css("border-radius", "2px");
$('.select2-container--default .select2-selection--single').css("height", "3rem");
$('.select2-container--default .select2-selection--single').css("border-bottom", "1px solid #9e9e9e");

//Cambios del Select Hide Input
$( "#id_tipo_de_pago" ).change(function() {
    var valor = $('#id_tipo_de_pago').val();

    console.log(valor);
  if(valor == 1){
      $('.tipo').removeClass('m12')
      $('.tipo').addClass('m6')
      var numero_tras = `
        <div class="input-field col s12 m6 numero">
            <input  type="number" class="validate" name="numero_trans" id="id_numero_trans" required="" value="{{form.numero_trans.value}}">
            <label for="id_numero_trans" class="active">Numero de Transferencia</label>
        </div>
      `;
      $('.tipopago').append(numero_tras);

  }else{
      $('.numero').remove();
      $('.tipo').removeClass('m6');
      $('.tipo').addClass('m12');
  }
});
var trans = $('#id_tipo_de_pago').val();
if(trans == 1){
    $('.tipo').removeClass('m12')
      $('.tipo').addClass('m6')
      var numero_tras = `
        <div class="input-field col s12 m6 numero">
            <input  type="number" class="validate" name="numero_trans" id="id_numero_trans" required="" value="{{form.numero_trans.value}}">
            <label for="id_numero_trans" class="active">Numero de Transferencia</label>
        </div>
      `;
      $('.tipopago').append(numero_tras);
}

</script>
<script>
$('label').addClass('active');
</script>
