{% if not actividad.suspended %}
{% if actividad.status.status == "Por Realizar" %}

<style>
    select{
        display: block;
    }
</style>
<div class="row hide" id="edit">
    <div class="col s10 offset-s1">
        <form action="{% url 'actividades:edit_actividad' %}" id="form1" method="post" class="js-book-edit-form">
        {% csrf_token %}
        <style>
            select{
                display: block;
            }
        </style>
        <div class="row">
            <div class="col s12">
                <h2>Actualizar Actividad</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12 m12">
                        <input type="number" class="hide" name="ida" value="{{actividad.id}}">
                        <input type="text" name="nombre" class="validate" id="id_nombre" maxlength="200" required="" value="{{actividad.nombre}}">
                        <label for="id_nombre" class="active">Nombre de la actividad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <textarea class="materialize-textarea" name="descripcion" id="id_descripcion" rows="10" required="" cols="40">{{actividad.descripcion}}</textarea>
                        <label for="id_descripcion" class="active">Descripción</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <textarea class="materialize-textarea" name="lugar" id="id_lugar" rows="10" required="" cols="40">{{actividad.lugar}}</textarea>
                        <label for="id_lugar" class="active">Lugar</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select id="id_persona" name="persona">
                            {% for i in lider%}
                                <option value="{{i.id}}">{{i.cedula}},{{i.nombre}}</option>
                            {% endfor%}
                            <!--<option  value="{{actividad.persona.id}}" selected="">{{actividad.persona}}</option>-->
                            
                        </select>
                        <label for="id_persona" class="active">Lider</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <select id="id_tipo" name="tipo">
                            <!--<option  value="{{actividad.tipo.id}}" selected="">{{actividad.tipo}} </option>-->
                            {% for i in tipo%}
                                <option value="{{i.id}}">{{i.tipo}}</option>
                            {% endfor%}
                        </select>
                        <label for="id_tipo" class="active">Tipo de Actividad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{formm.fecha}}
                        {{actividad.fecha}}
                        <label for="id_fecha" class="active">Fecha</label>
                    </div>
                    <div class="input-field col s12 m6">
                        
                        <input type="time" id="id_hora" value="{{actividad.hora}}">
                        <label for="id_hora" class="active">Hora</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="error1" class="col s10 offset-s1 center"></div>
            </div>
            <div class="row">
                <div class="col m6 offset-m4 s10 offset-s1 center">
                    <p><a class="btn waves-effect waves-light red cancelar_est">Volver</a>
                    <button class="btn waves-effect waves-light blue" onclick="return confirm('¿Esta seguro de realizar el registro, ya que no sera posible editarlo,ni borrarlo?')" >Actualizar</button></p>
                </div>
            </div>
        </div>
        </form> 
    </div>
</div>
<form action="{% url 'actividades:actualizar_status' form.instance.pk %}" id="form" method="post" class="js-book-update-form">
    {% csrf_token %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <br>
            <br>
            <img src="/static/assets/img/logo.png" width="300">
            <h2>Actualizar Actividad</h2>
            <h5 style="font-weight: bold;">{{actividad.nombre}}</h5>
            <h6 style="text-align: left;"><strong>Descripcion:</strong> {{actividad.descripcion}}</h6>
            <h6 style="text-align: left;"><strong>Tipo:</strong> {{actividad.tipo}}</h6>
            <h6 style="text-align: left;"><strong>Fecha:</strong> {{actividad.fecha}}</h6>
            <h6>¿Desea editar la información? click <a href="#" onclick="return false;" class="editar">Aqui</a></h6>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="row">
                <div class="input-field col s12 m12">
                    {{form.status}}
                    <label for="id_status" class="active">Cambiar Estatus</label>
                </div>
                <div class="input-field col s12 m12 hide" id="listo">
                    {{form.statuss}}
                    <label for="id_status" class="active">Resultado de actividad</label>

                </div>
                <div class="input-field col s12 m12" id="obs">

                </div>
            </div>
        </div>
        <div class="row">
            <div id="error" class="col s10 offset-s1 center m6 offset-m4"></div>
        </div>
        <div class="row">
            <div class="col m6 offset-m3 s10 offset-s1">
                <button class="btn waves-effect waves-light blue" onclick="return confirm('¿Esta seguro de realizar el registro, ya que no sera posible editarlo,ni borrarlo?')" >Actualizar Estatus</button></p>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">


            /*$('#id_fecha').pickadate({
        monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        selectMonths: true,
        selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Ok',
        labelMonthNext: 'Siguiente mes',
        labelMonthPrev: 'Mes anterior',
        labelMonthSelect: 'Selecciona un mes',
        labelYearSelect: 'Selecciona un año',
        });*/

$('#id_persona').val('{{actividad.persona.id}}')
$('#id_tipo').val('{{actividad.tipo.id}}')
$(document).on('click','.editar',function(){
    $('#form').addClass('hide');
    $('#edit').removeClass('hide');

})
$(document).on('click','.cancelar_est',function(){
    $('#form').removeClass('hide');
    $('#edit').addClass('hide');
})
$('#id_fecha').addClass('hide')
//$('#id_fecha').attr("type","date");
$('#id_hora').attr("type","time");
$('#id_hora').attr("name","hora");
$('#id_status').on('change',function(){
    if($(this).val() ==2){
        fecha =($('#id_fecha').val())
        fecha_n = fecha.split('/');
        fecha_l = fecha_n[1]+'/'+fecha_n[0]+'/'+fecha_n[2]
        hoy = moment().format('L')
        fechaa = moment(fecha_l).format('L')
        if(hoy<fechaa){
            $('#error').html('<p style="color:red;">Debe esperar el día de la actividad para poder actualizar a este estatus.</p>');
            $(this).val(1)
        }else{
            $('#obs').append(`
            <textarea class="materialize-textarea" required="" name="observacion" id="id_observacion" rows="10" required="" cols="40"></textarea>
            <label for="id_observacion" class="active">Observacion</label>
             `)
            $('#listo').removeClass('hide')
            $('#id_statuss').attr('required','')
        }

    }else{
        $('#obs').html('')
        $('#listo').addClass('hide')
        $('#id_statuss').removeAttr('required')
    }
})

    $("#id_persona").select2();
        $("#id_tipo").select2();
    $('.select2').css("width", "100%");
    $('.select2-container--default .select2-selection--single').css("background-color", "transparent");
    $('.select2-container--default .select2-selection--single').css("width", "100%");
    $('.select2-container--default .select2-selection--single').css("min-width", "100%");
    $('.select2-container--default .select2-selection--single').css("padding", "5px");
    $('.select2-container--default .select2-selection--single').css("border", "none");
    $('.select2-container--default .select2-selection--single').css("border-radius", "2px");
    $('.select2-container--default .select2-selection--single').css("height", "3rem");
    $('.select2-container--default .select2-selection--single').css("border-bottom", "1px solid #9e9e9e");



</script>
{% endif %}
{% if actividad.status.status == "Suspendida" %}
<form action="{% url 'actividades:actualizar_status' form.instance.pk %}" id="form" method="post" class="js-book-update-form">
    {% csrf_token %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <br>
            <br>
            <img src="/static/assets/img/logo.png" width="300">
            <h2>Reasignar Actividad</h2>
            <h5 style="font-weight: bold;">{{actividad.nombre}}</h5>
            <h6 style="text-align: left;"><strong>Descripcion:</strong> {{actividad.descripcion}}</h6>
            <h6 style="text-align: left;"><strong>Tipo:</strong> {{actividad.tipo}}</h6>
            <h6 style="text-align: left;"><strong>Fecha:</strong> {{actividad.fecha}}</h6>
        </div>
    </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="row">
                    <div class="input-field col s12 m12">
                        <input type="date" name="fecha" id="id_fecha">
                        <label for="id_fecha" class="active">Fecha de la nueva de la actividad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <input type="datetime" name="hora" id="id_hora" required>
                        <label for="id_hora" class="active">Hora</label>
                    </div>
                </div>
                <input type="text" name="observacion" id="id_observacion" style="display: none;">
            <div class="row">
                <div id="error" class="col s10 offset-s1 center"></div>
            </div>
            <div class="row">
                <div class="col m6 offset-m3 s10 offset-s1">
                    <button class="btn waves-effect waves-light blue" onclick="return confirm('¿Esta seguro de realizar el registro, ya que no sera posible editarlo,ni borrarlo?')" >Actualizar Estatus</button></p>
                </div>
            </div>
        </div>
</form>

<script>

$('#id_hora').attr("type","time");
var d = new Date();

var month = d.getMonth()+1;
var day = d.getDate();
$('#id_fecha').attr("type","date");

var output = d.getFullYear() + '/' +
    (month<10 ? '0' : '') + month + '/' +
    (day<10 ? '0' : '') + day;
$('#id_fecha').pickadate({
    min: new Date(output),
    formatSubmit: 'yyyy-mm-dd',
    today: 'Hoy',
    clear: 'Limpiar',
    close: 'Ok',
    labelMonthNext: 'Siguiente mes',
    labelMonthPrev: 'Mes anterior',
    labelMonthSelect: 'Selecciona un mes',
    labelYearSelect: 'Selecciona un año',
});
</script>
{% endif %}
{% if actividad.status.status == 'Realizada' %}
<h1>Esta actividad a sido completada</h1>
{% endif %}
{% else %}


<div class="row">
    <div class="col s12 m6 offset-m3">
                <br>
                <br>
                <img src="/static/assets/img/logo.png" width="300">
                <h5>Esta actividad a sido reasignada a otra fecha</h5>
                <h3 style="font-weight: bold;">{{actividad.nombre}}</h3>
                <h6 style="text-align: left;"><strong>Descripcion:</strong> {{actividad.descripcion}}</h6>
                <h6 style="text-align: left;"><strong>Tipo:</strong> {{actividad.tipo}}</h6>
                <h6 style="text-align: left;"><strong>Lider:</strong> {{actividad.persona.nombre}} {{actividad.persona.apellido}}</h6>
                <h6 style="text-align: left;"><strong>Descripción:</strong> {{actividad.descripcion}}</h6>
                <h6 style="text-align: left;"><strong>Lugar:</strong> {{actividad.lugar}}</h6>
    </div>

    
</div>


{% endif%}